{% extends 'base.html.twig' %}

{% block title %}Xestión produtos via Hallas y Pork{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script type="text/javascript">

function cargaListaProdutos(){

$.ajax({
	method: "GET",
	url: "{{ path('listar_produtos') }}",
	success: function(resultado){
		console.log(resultado);
		var datos = JSON.parse(resultado);
		console.log(datos.data);
		$.each(datos.data, function(){
			var fila ="<tr id='fila"+this.id+"'><td>"+this.id+"</td><td>"+this.nome+"</td><td>"+this.prezo+"</td><td><button class='btn btn-danger' id='boton"+this.id+"' onclick='borrarProduto(\""+this.id+"\")'>Delete</button></td></tr>";
			$("#lista").append(fila);
		
		});
	},
	failure: function() {
		console.log("LuisMi la shupa, i know <3")
	},
});
}

function borrarProduto(){
	var path ="{{ path('borrar_produto', {id: 'ide'}) }}"
	path = path.replace('ide',  ident);
	console.log(path);

	$.ajax({

	})
}

$(document).ready(function(){
	cargaListaProdutos();
	/*
$.ajax({
	method: "GET",
	url: "{{ path('listar_produtos') }}",
	success: function(data){
		console.log(data);
	},
	failure: function function_name(argument) {
		console.log("Error :/");
	}
});
*/

});
</script>

{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<style>

    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div id="divTabla" class="container">
	<h2>Xestión de produtos con Hallas</h2>
<table id="lista" class="table table-dark table-striped table-hover table-bordered">
	<tr class="table-danger"><th>Id</th><th>Nome</th><th>Prezo</th><th>Acción</th></tr>
</table>
</div>



{% endblock %}
