{% extends 'base.html.twig' %}
{% block title %}Alertas{% endblock %}
{% block body %}
	<div class="container text-center items-align-center">
		<h1>ALERTAS</h1>
		<table class="table">
			<tr><th>Basico id: {{ id }}</th></tr>
			<tr>
				<th>ID</th>
				<th>LATITUD</th>
				<th>LONGITUD</th>
				<th>RADIO KM</th>
			</tr>
			{% for alerta in alertas %}
			<tr>
				<td>{{ alerta.id }}</td>
				<td>{{ alerta.latitud }}</td>
				<td>{{ alerta.longitud }}</td>
				<td>{{ alerta.radioKm }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}