{% extends 'base.html.twig' %}
{% block title %}Avisos{% endblock %}
{% block body %}
	<div class="container text-center items-align-center">
		<h1>AVISOS</h1>
		<table class="table">
			{% for aviso in avisos %}
			<tr><th>Aviso id: {{aviso.id}}</th></tr>
			<tr>
				<th>LATITUD</th>
				<th>LONGITUD</th>
				<th>TIPO</th>
				<th>IP CREADOR</th>
				<th>FECHA</th>
				<th>COMENTARIO</th>
			</tr>
			<tr>
				<td>{{ aviso.latitud }}</td>
				<td>{{ aviso.longitud }}</td>
				<td>{{ aviso.tipo }}</td>
				<td>{{ aviso.ipCreador }}</td>
				<td>{{ aviso.fecha|date('Y-m-d H:i:s') }}</td>
				<td>{{ aviso.comentarioCreador }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}

